<div class="row pagedetails">
	<div class="col-sm-6 col-lg-4 mrgn-tp-sm">
		<div class="panel-pane pane-block pane-bean-report-problem-button"  >
			<div class="pane-content">
				<section>
					<div class="field field-name-field-bean-wetkit-body field-type-text-long field-label-hidden">
						<div class="field-items">
							<div class="field-item even">
								<a class="btn btn-default btn-block" href="https://www.canada.ca/en/report-problem.html">Report a problem on this page</a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="col-sm-3 mrgn-tp-sm pull-right">
		<div class="wb-share" data-wb-share='{&#34;lnkClass&#34;: &#34;btn btn-default btn-block&#34;}'></div>
	</div>
	<div class="datemod col-xs-12 mrgn-tp-lg">
		<dl id="wb-dtmd">
			<dt>Date modified:</dt>
			<dd><time property="dateModified">{{ modified }}</time></dd>
		</dl>
	</div>
</div>